%section.results
  %ul
    - @results.each_with_index do |expr, i|
      %li.result
        %pre.input= Rack::Utils.escape_html(expr['input'])
        %pre.value= Rack::Utils.escape_html(expr['value'])
        - if expr['output'] != '""'
          %pre.output= Rack::Utils.escape_html(expr['output'].gsub(/^"|"$/, "")).gsub(/\\n/, "<br />")
